
.cast{
    margin-top: 15px;
    padding: 20px;
    background-color: rgb(155, 155, 155);
    border-radius: 20px;
}

.cast-ul{
    list-style: none;
}

.cast-img{
    height: 400px;
    width: 300px;
}
.cast-title{
    color: rgb(237, 235, 235);
    font-size: 30px;
}

.cast-p{
    color: black;
    font-size: 30px;
}

