.form-div{
   
    background-color: rgb(177, 176, 176);
    height: 90px;
    width: 300px;
    padding: 15px;
    border-radius: 20px;
}
.form{
    display: flex;

}
.form-label {
    font-size: 20px;
    margin-bottom: 30px;
}

.form-input{
    color: white;
    margin-top: 15px;
    background: grey;
    height: 30px;
}

.form-btn{
    height: 35px;
    margin-left: 10px;
    color:white;
    background-color: grey;
}